# Ignore data and large files
# data/*
# !data/.gitkeep

# Ignore model checkpoints
*.pth
*.pt
*.h5

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.egg-info
__pycache__/
*.pyc
.DS_Store
